# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Husky
.husky/_/
